body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-color: #f0f0f0;
}

main {
    text-align: center;
}

.calc-container {
    width: 500px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.screen {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    background-color: #eee;
}

.digits,
.other {
    display: flex;
    flex-wrap: wrap; 
}

.key {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.key:hover {
    background-color: #dcdcdc;
}

.result {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #218838;
}

.clear {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #c82333;
}

.clear:hover {
    background-color: #c82333;
}

.digits,
.other {
    display: flex;
    flex-wrap: wrap;
}

.digit,
.operation,
.bracket,
.result,
.clear {
    flex: 1 0 30%; 
    margin: 5px; 
}
